<h2 class = "center">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5 col-sm-2 col-sm-offset-5 center form-horizontal"}) do |f| %>
  <div class="form-inputs">
    <%= f.input :login,  input_html: {value: "+27"},required: false, label: "Number" %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn btn-warning" %>
  </div>
  <br>
  <%= render "devise/shared/links" %>
<% end %>


