<!DOCTYPE html>
<html>
<head>
	<title>Sukuma</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link href='https://fonts.googleapis.com/css?family=Alegreya:400,700' rel='stylesheet' type='text/css'>
	<style type=text/css>
		.colour {
			color: #F5D04C;
		}
		body {
	font-family: 'Alegreya';
}
strong {
   font-family: 'Alegreya', sans-serif;
   font-weight: 700; /* Be specific */
   /* Your other headings CSS */
}
	</style>
</head>
<body>
	<div class="wrap">
		<%= render "layouts/nav" %>
		<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<div class="container">
			<%= yield %>
		</div>




	</body>
	</html>
