<!DOCTYPE html>
<html>
<head>
  <title>PayApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p>
<% if client_signed_in? %>
  Logged in as <strong><%= current_client.profile.name %></strong>.
  <%= link_to 'Edit profile', edit_client_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_client_session_path, method: :delete, :class => 'navbar-link'  %>
   
<% else %>
  <%= link_to "Sign up", new_client_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_client_session_path, :class => 'navbar-link'  %>
<% end %>
</p>


<%= yield %>

</body>
</html>
