<!DOCTYPE html>
<html>
<head>
  <title>PayApp</title>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>

</body>
</html>
