<!DOCTYPE html>
<html>
<head>
  <title>Sukuma</title>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
<link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Port+Lligat+Slab' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <style type="text/css">


  </style>
  
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>

</body>
</html>
