<style>
	body, html {
		height:100%;
	}
	div.wrap {height:100%; overflow:hidden;}
	.buffer{
		height: 50vh;
		overflow: auto;
	}
	.buffer2{
		height: 65vh;
		overflow: auto;
	}
</style>




<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<h2 class="page-header center" ><%= current_client.profile.name.capitalize %>, your finances:</h2>

	</div>

	<hr>
	<div class="row">




		<div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2  portfolio-item" >
			<div id = "transactions">
				<div class="center">
					<h3>
						<!-- <a href=<%= transactions_path%> >Transaction feed:</a> -->
						<span style="color: orange"><u><b>Transaction feed:</b></u></span>

					</h3>
					<i>(Scroll for more)</i><hr>
				</div>
				<div class = "buffer">
					<div id="left">
						<div class="panel-group">
						<%= render @transactions %>
						</div>
					</div>
				</div>
			</div>


			<div id = "tips">
				<div class="center">
					<h3>
						<!-- <a href=<%= transactions_path%> >Tip feed: (path!)</a> -->
						<span style="color: orange"><u><b>Tip feed:</b></u></span>


					</h3>
					<i>(Scroll for more)</i>
					<hr>
				</div>
				<div class = "buffer">
					<div id="left">
					   <div class="panel-group">
						<%= render @tips.shuffle %>
						</div>
					</div>
				</div>
			</div>



		</div>
		<div class=" col-lg-8 col-md-8 col-sm-8 col-xs-8 portfolio-item">
		<!-- <h1 class="page-header center" >Your Finances:</h1>
		<h4 class = "center"><strong>AccountId: </strong> <%= @account.account_id.upcase %><br>
			<strong>Balance: R</strong> <%= @account.balance %></h4>  -->  

			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#sectionA"><span style="color: orange"><b>Spending now</b></span></a></li>
				<li><a data-toggle="tab" href="#sectionB"><span style="color: orange"><b>Spending future</b></span></a></li>
			</ul>
			<div class = "buffer2">
				<div  id="right">
					<div class="tab-content">
						<div id="sectionA" class="tab-pane fade in active">
							<br><br>
							<h3>Learn more about your current spending habits.</h3><br>

							<strong>Spending by category:</strong>
							<br>
							<%= pie_chart(spendData[0]) %>
							<br>
							<hr>
							<strong>Cumulative income vs spending - 30 days:</strong>
							<%= line_chart [{name: "Spending", data: spendData[1]}, {name: "Income", data: spendData[2]}], {discrete: true}%>
							<hr>

							<strong>Spending vs Income - by day:</strong>
							<%= column_chart [{name: "spending", data: spendData[3]}, {name: "income", data: spendData[4]}], {stacked: true, discrete: true}%>
							<br>
						</div>
						<div id="sectionB" class="tab-pane fade">
							<br>
							<h3>Projections for your personal finances and tips<br> on how you could spend better.</h3><br>
							<strong>Budget allocation - Yours vs Suggested:</strong>
							<% spdata = spendData[0]  %>
							<% spdata.delete("Transfers") %>
							<%= column_chart [{name: "Actual%", data: spdata}, {name: "Suggested%", data: spendData[5]}],  {discrete: true}%>
							<strong>Account balance predicition - 30 days</strong>
							<%= line_chart [{name: "Predicted balance", data: spendData[6]}, {name: "Zero", data: spendData[7]}], {discrete: true}%>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2 portfolio-item">
		 <div id = "accinfo">
			<div class="panel-group">
				<br><br>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title"><strong>AccountID:</strong></h3>
					</div>
					<div class="panel-body"><strong><%= @account.account_id.upcase %></strong></div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title"><strong>Balance</strong></h3>
					</div>
					<div class="panel-body"><strong>R<%= @account.balance %></strong></div>
				</div>

			</div>
           
			</div>
		</div>



	</div>



	<script> 
		$(document).ready(function() {
			$('#tips').hide();
			setTimeout(updateComments, 5000)

		});
		$(document).on( 'shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
   //alert("test");
   //$(window).trigger('resize'); // activated tab
   
   window.dispatchEvent(new Event('resize'));
   if(e.target.href.includes("sectionB"))
   {
   	$('#tips').show();
   	$('#transactions').hide();
   }
   if(e.target.href.includes("sectionA"))
   {
   	$('#tips').hide();
   	$('#transactions').show();
   }
    //$('#vform').hide();

});

		function updateComments(){
			var after = $(".transaction:first-child").attr("data-time");
			//var after = "test";
			$.getScript("/accountdashboard.js?after="+after)
			setTimeout(updateComments, 5000)
			window.dispatchEvent(new Event('resize'));


		}


	</script>






