$("#left").prepend("<%=raw escape_javascript(render(@newtrans)) %>");
//var index = $('#tabsul').index($("#"+"<%=raw escape_javascript(@id) %>"));
//var index = $('#tabsul').children().index($('sectionB'));
//var index = $('.nav-tabs .active > a').attr('href').substring(1);
//console.log("test:"+index);

<% if @bal!=current_client.account.balance%>
function loadlink(){
	// var html = load(document.URL);
 //    $('#right').load(html.filter("#right"), function () {
 //         //$(this).unwrap();
 //    });

       // $.get(document.URL, function(data){
       //   var mainDiv = $("#right", data);
       //   $('#right').load(mainDiv); // finds <div id='mainDiv'>...</div>
       // }, "html");

$.ajax({
   url:document.URL,
   type:'GET',
   success: function(data){
       $('#<%=raw escape_javascript(@id)%>').html($(data).find('#<%=raw escape_javascript(@id)%>').html());
       //$('#tabsul a[href="#<%=raw escape_javascript(@id)%>"]').tab('show');       
   }
});
//console.log("#<%=raw escape_javascript(@id)%>");


 

//$('#tabsul ul').tabs('select', index);



$.ajax({
   url:document.URL,
   type:'GET',
   success: function(data){
       $('#accinfo').html($(data).find('#accinfo').html());
   }
});

}
loadlink();
<% end %> // This will run on page load